{% extends 'base.html.twig' %}

{% block title %}QuerQue{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('build/css/inicio.css')}}">{% endblock  %}

{% block body %}
<div class="container" id="inicio">
    <div class="row">
        <div class="col">
            <div>
                <a href="{{ path('urgencia_index') }}">Urgencia</a>
            </div>
            <div>
                <a href="{{ path('servicio_index') }}">Servicios</a>
            </div>
            <div>
                <a href="{{ path('evento_index') }}">Eventos</a>
            </div>
            <div>
                <a href="{{ path('lugar_index') }}">Lugares</a>
            </div>
        </div>
        <div class="col">
            <img src="/imagenes/castillo.png" width="80%" alt=" imagen ">
        </div>
    </div>
    
    
</div>
{% endblock %}
