{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}
    <h1>Eventos</h1>

    {% for row in eventos|batch(3) %}
      <div class="row">
        {% for evento in row %}
            <div  class="col-xs-12 col-sm-6 col-md-4">
                <div class="card" data-toggle="modal" data-target="#modalevento{{loop.index}}">    
                    <img class="card-img-top" src='/image/eventos/{{evento.foto}}' height="300px" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{ evento.nombre}}</h5>                                
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalevento{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"> {{evento.nombre}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top" src='/image/eventos/{{evento.foto}}' height="100px" alt="Card image cap">
                        {% if evento.fecha|date('H:i') != '00:00'%}
                            <p><strong> {{ evento.fecha|date('d-m-Y H:i')}} </strong></p>
                        {% else %}
                            <p><strong> {{ evento.fecha|date('d-m-Y')}} </strong></p>
                        {% endif %}
                        <p>{{ evento.descripcion}} </p>
                        {% if evento.localizacion != null %}
                        <p>Localización: {{ evento.localizacion}} </p>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>  
        {% endfor %}
      </div>
    {% endfor %} 
    <a href="{{path('inicio')}}"><i class="fas fa-arrow-circle-left"></i>Volver</a>
{% endblock %}

